html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: red;
    padding: 20px;
}

ul li{
    color: #fff;
    font-weight: 600; 
}

.container{
    margin: 10px;
    padding: 5px;
}

.container p{
    font-weight: 600;
    color: red;
    font-size: 30px;
}